<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>


    {{!-- Navbar --}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="myNavbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="./img/logo.png" alt="logo" class="logo">Investigo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0"></ul>
                <form class="d-flex">
                    <a href="/" type="button" class="backToHomePage">Accueil</a>
                </form>
            </div>
        </div>
    </nav>

    <section class="bg-emploi">
        <div class="container pb-5">
            <div class="row">
                    <h2 class="emploi-heading"><b>Choisissez votre équipe</b></h2>
                <div class="col-md-12">
                    <div class="accordion">

                        <h3 class="my-4">Marketing & Communication</h3>

                        {{!-- Accordion 1 --}}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Market Research Analyst
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <h4 class="pt-1">Job Overview</h4>
                                    <p>We're now hiring a Market Research Analyst to join the InvestiGo team. If you're
                                        a
                                        passionate self-starter, InvestiGo is a perfect place to grow your career. Make
                                        your
                                        next career move with us.</p>

                                    <h5>Responsibilities for Market Research Analyst</h5>

                                    <ul class="list">
                                        <li>Identify and define the objective of an assigned marketing research project
                                            and
                                            determine the best methods to use to meet those objectives</li>
                                        <li>Draft questionnaires, polls, surveys, and other data collection resources
                                        </li>
                                        <li>Researche and compile data related to current product market, customer
                                            demographics
                                            and interest, and factors influencing product demand; analyze results to
                                            identify
                                            ways of maximizing sales and market penetration of current products</li>
                                        <li>Compily data related to competitors products such as pricing, sales, and
                                            marketing
                                            or distribution methodology</li>
                                        <li>Summarize and analyze data; make recommendations related to research
                                            findings</li>
                                        <li>Report findings, complete with graphs illustrating data and written text
                                            explaining
                                            complex findings</li>
                                        <li>Forecast and track industry marketing and sales trends based on collected
                                            data</li>
                                        <li>Deliver reports and presentations of findings to management and/or executive
                                            leadership.</li>
                                        <li>Perform other related duties as assigned.</li>
                                    </ul>

                                    <h5>Qualifications for Market Research Analyst</h5>

                                    <ul class="list">
                                        <li>Bachelors degree in Marketing Research, Statistics, Math, or related field
                                            or
                                            equivalent by experience and skills</li>
                                        <li>Minimum 6 months of demonstrable experience </li>
                                        <li>Some related experience preferred</li>
                                        <li>Excellent organization skills</li>
                                        <li>Excellent verbal and written communication skills in French and English or
                                            Dutch
                                        </li>
                                        <li>Excellent organizational skills and attention to detail</li>
                                        <li>Superior research and analytical skills</li>
                                        <li>Ability to translate complex concepts and methodologies into easily
                                            understood
                                            language
                                        <li>
                                        <li>Proficient with Microsoft Office Suite or related software</li>
                                    </ul>

                                    <p>More than any degree or experience, we are looking for somebody who is eager to
                                        learn,
                                        develop and succeed. If you find yourself suitable for this role, don't hesitate
                                        and
                                        send your CV to "<a href="mailto:jobs@investigo.be"
                                            target="_blank">jobs@investigo.be</a>" .</p>
                                </div>
                            </div>
                        </div>


                        {{!-- Accordion 2 --}}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Customer Relations Specialist
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <h4 class="pt-1">Job Overview</h4>
                                    <p>We're now hiring a Customer Relations Specialist to join the InvestiGo team. If
                                        you're a
                                        passionate self-starter, InvestiGo is a perfect place to grow your career. Make
                                        your
                                        next career move with us.</p>

                                    <h5>Responsibilities for Customer Relations Specialist</h5>

                                    <ul class="list">
                                        <li>Draft newsletters, e-mails, social-media content and web-site content</li>
                                        <li>Follow Social Media </li>
                                        <li>Build relationships with new clients and maintain relationships with
                                            existing
                                            clients</li>
                                        <li>Manage client requests in a timely and professional manner</li>
                                        <li>Pitch projects and ideas to clients</li>
                                        <li>Ensure all communication is cohesive with the brand image</li>
                                        <li>Track and analyze client behaviours to inform future campaigns</li>
                                        <li>Organize, schedule, and prepare key leaders for meetings and conferences
                                        </li>
                                    </ul>

                                    <h5>Qualifications for Customer Relations Specialist</h5>

                                    <ul class="list">
                                        <li>Bachelor's degree in communications, marketing, or related field or
                                            equivalent by
                                            experience and skills</li>
                                        <li>Minimum 6 months of demonstrable experience </li>

                                        <li>Excellent organization skills</li>
                                        <li>Demonstrated ability to prioritize tasks and manage time effectively</li>
                                        <li>Strong working knowledge of a variety of customer relations programs</li>
                                        <li>Strong oral and written communication skills in French and English or Dutch
                                        </li>
                                        <li>Proficient in Microsoft Office, Social Media platforms and various marketing
                                            tools.
                                        </li>
                                        <li>Proven ability to develop, implement, and execute successful customer
                                            relations
                                            campaigns</li>
                                    </ul>

                                    <p>More than any degree or experience, we are looking for somebody who is eager to
                                        learn,
                                        develop and succeed. If you find yourself suitable for this role, don't hesitate
                                        and
                                        send your CV to "<a href="mailto:jobs@investigo.be"
                                            target="_blank">jobs@investigo.be</a>" .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="accordion">

                          <h3 class="my-4">IT</h3>

                        {{!-- Accordion 3 --}}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFourth">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
                                    Front End Developer
                                </button>
                            </h2>
                            <div id="collapseFourth" class="accordion-collapse collapse" aria-labelledby="headingFourth"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <h4 class="pt-1">Job Overview</h4>
                                    <p>We're now hiring a Front End Developer to join the InvestiGo team. If you're a passionate self-starter, InvestiGo is a perfect place to grow your career. Make your next career move with us.</p>

                                    <h5>Front End Developer Responsibilities:</h5>

                                    <ul class="list">
                                        <li>Determining the structure and design of web pages</li>
                                        <li>Ensuring user experience determines design choices</li>
                                        <li>Developing features to enhance the user experience</li>
                                        <li>Striking a balance between functional and aesthetic design</li>
                                        <li>Ensuring web design is optimized for smartphones</li>
                                        <li>Optimizing web pages for maximum speed and scalability</li>
                                        <li>Utilizing a variety of markup languages to write web pages</li>
                                        <li>Maintaining brand consistency throughout the design
                                        </li>
                                    </ul>

                                    <h5>Qualifications for Front End Developer :</h5>

                                    <ul class="list">
                                        <li>Degree in computer science or related field or equivalent by experience and skills</li>
                                        <li>Minimum 6 months of demonstrable experience/li>
                                        <li>Understanding of key design principles</li>
                                        <li>Proficiency in HTML, CSS, JavaScript, and jQuery</li>
                                        <li>Understanding of server-side CSS</li>
                                        <li>Experience with responsive and adaptive design
                                        </li>
                                        <li>Excellent verbal communication skills in French and English or Dutch
                                        </li>
                                        <li>Good interpersonal skills</li>
                                    </ul>

                                    <p>More than any degree or experience, we are looking for somebody who is eager to
                                        learn,
                                        develop and succeed. If you find yourself suitable for this role, don't hesitate
                                        and
                                        send your CV to "<a href="mailto:jobs@investigo.be"
                                            target="_blank">jobs@investigo.be</a>" .</p>
                                </div>
                            </div>
                        </div>
                         

                        {{!-- Accordion 4 --}}


                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Back End Developer
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <h4 class="pt-1">Job Overview</h4>
                                    <p>We're now hiring a Back End Developer to join the InvestiGo team. If you're a passionate self-starter, InvestiGo is a perfect place to grow your career. Make your next career move with us.</p>

                                    <h5>Back End Developer Responsibilities:</h5>

                                    <ul class="list">
                                        <li>Participate in the entire application lifecycle, focusing on coding and debugging</li>
                                        <li>Write clean code to develop functional web applications</li>
                                        <li>Build relationships with new clients and maintain relationships with
                                            existing
                                            clients</li>
                                        <li>Troubleshoot and debug applications</li>
                                        <li>Manage cutting-edge technologies to improve legacy applications</li>
                                        <li>Collaborate with Front-end developers to integrate user-facing elements with server side logic</li>
                                        <li>Gather and address technical and design requirements</li>
                                        <li>Liaise with developers, designers and system administrators to identify new features
                                        </li>
                                    </ul>

                                    <h5>Qualifications for Back End Developer: </h5>

                                    <ul class="list">
                                        <li>Degree in computer science or related field or equivalent by experience and skills</li>
                                        <li>Minimum 6 months of demonstrable experience </li>

                                        <li>In-depth understanding of the entire web development process (design, development and deployment)</li>
                                        <li>Hands on experience with programming languages like PHP and Ndejs</li>
                                        <li>Working knowledge of CMS framework</li>
                                        <li>Strong oral and written communication skills in French and English or Dutch
                                        </li>
                                        <li>Familiarity with front-end languages (e.g. HTML, JavaScript and CSS)
                                        </li>
                                        <li>Excellent analytical and time management skills</li>
                                    </ul>

                                    <p>More than any degree or experience, we are looking for somebody who is eager to
                                        learn,
                                        develop and succeed. If you find yourself suitable for this role, don't hesitate
                                        and
                                        send your CV to "<a href="mailto:jobs@investigo.be"
                                            target="_blank">jobs@investigo.be</a>" .</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    {{>footer}}


</body>

</html>