<!DOCTYPE html>
<html lang="en">    

    {{>header}}

    <body data-bs-spy="scroll" data-bs-target="#myNavbar" data-bs-offset="100">


    {{>navbar}}

    {{>landingPage}}

    {{>about}}

    {{>threeWords}}
  
    {{>threeSteps}}

    {{>pricing}}

    {{>collaborateur}}

    {{>chiffre}}

    {{>project}}

    {{>questions}}

    {{>footer}}
</body>
</html>