<!DOCTYPE html>
<html lang="en">

    {{>header}}

<body>

    {{!-- Navbar --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="myNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="./img/logo.png" alt="logo" class="logo">Investigo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <a href="/" type="button" class="backToHomePage">Accueil</a>
      </form>
    </div>
  </div>
</nav>





    {{!-- Start of Register Form --}}

<section class="background-img mt-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 d-none d-sm-block">
                <img src="../img/signup.png" alt="" class="register-img">
            </div>
            <div class="col-md-6">
                <div class="signup-form">
                    <form action="/register" class="mt-5 border p-4 shadow rounded" method="POST">
                        <h4 class="mb-4">Créer un compte</h4>
                        <div class="row">

                            {{!-- User ID --}}
                            <input type="text" name="userID" class="d-none">

                            {{!-- N° de registre National --}}

                            <div class="col-12 mb-3">
                            <label for="nationalNumber" class="form-label">N° de Registre National<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="nationalNumber" required>
                        </div>

                            {{!-- Last Name --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Nom<span class="text-danger">*</span></label>
                                <input type="text" name="lastName" class="form-control" required>
                            </div>
                            {{!-- First Name --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Prénom<span class="text-danger">*</span></label>
                                <input type="text" name="firstName" class="form-control" required>
                            </div>
                            {{!-- Email --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Mail<span class="text-danger">*</span></label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            {{!-- Phone Number --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>N° de téléphone<span class="text-danger">*</span></label>
                                <input type="number" name="phoneNumber" class="form-control" required>
                            </div>

                            {{!-- Gender --}}
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="inputState">Sexe<span class="text-danger">*</span></label>
                                <select id="inputState" class="form-control" name="gender" required>
                                    <option selected="">...</option>
                                    <option value="Homme" name="Homme">Homme</option>
                                    <option value="Femme" name="Femme">Femme</option>
                                    <option value="Autre" name="Autre">Autre</option>
                                </select>
                            </div>

                            {{!-- Age --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Age<span class="text-danger">*</span></label>
                                <input type="number" name="age" class="form-control" required>
                            </div>

                            {{!-- Address --}}

                        <div class="col-12 mb-3">
                            <label for="inputAddress2" class="form-label">Adresse<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Address" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputCity" class="form-label">Ville<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="City" required>
                        </div>
                        
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Code postal<span class="text-danger">*</span></label>
                            <input type="number" class="form-control" name="CodePostal" required>
                        </div>
                      

                            {{!-- Password --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Mot de passe<span class="text-danger">*</span></label>
                                <input type="password" name="password" class="form-control" required>
                            </div>

                            {{!-- Confirm Password --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Confirmation mot de passe<span class="text-danger">*</span></label>
                                <input type="password" name="confirmPassword" class="form-control" required>
                            </div>

                            {{!-- Check box --}}
                            <div class="my-3 col-md-12">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">En cliquant sur S’inscrire, vous acceptez nos <a href="/condition">Conditions générales</a></label>
                            </div>


                            {{!-- Submit Form --}}
                            <div class="col-md-12">
                            <button class="btn-grad d-flex mx-auto my-3" type="submit" value="Register">Signup Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- End of Register Form --}}




    {{>footer}}
</body>
</html>