<!DOCTYPE html>
<html lang="en">

    {{>header}}

<body>

    {{>navbar}}

    {{!-- Start of Register Form --}}

<section class="background-img">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 d-none d-sm-block">
                <img src="../img/Illustration.png" alt="" class="register-img">
            </div>
            <div class="col-md-6">
                <div class="signup-form">
                    <form action="/register" class="mt-5 border p-4 shadow rounded" method="POST">
                        <h4 class="mb-4">Create Your Account</h4>
                        <div class="row">
                            {{!-- First Name --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>First Name<span class="text-danger">*</span></label>
                                <input type="text" name="firstName" class="form-control" placeholder="Enter First Name">
                            </div>
                            {{!-- Last Name --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name">
                            </div>
                            {{!-- Email --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Email<span class="text-danger">*</span></label>
                                <input type="email" name="email" class="form-control" placeholder="Enter Email">
                            </div>
                            {{!-- Phone Number --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Phone Number<span class="text-danger">*</span></label>
                                <input type="text" name="phoneNumber" class="form-control" placeholder="Enter Phone Number">
                            </div>

                            {{!-- Gender --}}
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="inputState">Gender</label>
                                <select id="inputState" class="form-control" name="gender">
                                    <option selected="">Choose your gender</option>
                                    <option value="Male" name="Male">Male</option>
                                    <option value="Female" name="Female">Female</option>
                                    <option value="Other" name="Other">Other</option>
                                </select>
                            </div>

                            {{!-- Age --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Age<span class="text-danger">*</span></label>
                                <input type="text" name="age" class="form-control" placeholder="age">
                            </div>

                            {{!-- Password --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Password<span class="text-danger">*</span></label>
                                <input type="password" name="password" class="form-control" placeholder="Enter Password">
                            </div>

                            {{!-- Confirm Password --}}
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label>Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
                            </div>

                            {{!-- File --}}
                            <div class="my-3 col-md-12">
                                <label for="exampleFormControlFile1">Upload a file</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
                            </div>

                            {{!-- Submit Form --}}
                            <div class="col-md-12">
                            <button class="btn-grad d-flex mx-auto my-3" type="submit" value="Register">Signup Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- End of Register Form --}}

    {{>footer}}
</body>
</html>