<!DOCTYPE html>
<html lang="en">

    {{>header}}

<body>


<section class="sitemap pt-5 bg-dark">
    <div class="container">
        <h2 class="text-white">Sitemap</h2>
        <hr class="text-white">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="sitemap_link">
                    <li class="nav-item"><a class="text-white" href="/">Accueil</a></li>
                </div>
            </div>
             <div class="col-md-3 col-sm-12">
                <div class="sitemap_link">
                    <li class="nav-item"><a class="text-white" href="/emploi">Offres d'emploi</a></li>
                </div>
            </div>
             <div class="col-md-3 col-sm-12">
                <div class="sitemap_link">
                    <li class="nav-item"><a class="text-white" href="/condition">Conditions Générales</a></li>
                </div>
            </div>
             <div class="col-md-3 col-sm-12 mb-5">
                <div class="sitemap_link">
                    <li class="nav-item"><a class="text-white" href="/register">S'inscrire</a></li>
                </div>
            </div>
        </div>
        <img src="./img/sitemap.png" alt="Page_Not_Found" class="img-fluid">
    </div>
</section>


    {{>footer}}
</body>
</html>