<section class="about py-5" id="About">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12">
                <h2 class="fs-2 text-uppercase mb-3">A propos de nous</h2>
                <p class="fs-6 paragraph">InvestiGo est un sytème financier simple, accessible, efficace et transparent qui
                    permet aux particuliers d’investir afin de gagner des intérêts sur l’argent investi de leur parts.
                    InvestiGo Belgique est présent à Dubai depuis 2019 et s’engage activement pour le développement du
                    marché local. Nos activités sont régies par l’Autorité de Contrôle Prudentiel et de Résolution
                    (ACPR).<span id="dots">...</span> 

                    <p class="mb-3"><span id="more">En 2020, InvestiGo a obtenu un agrément pour créer une société de gestion de fonds
                    d'investissement alternatifs en Belgique, sous la régie de l'Autorité des Marchés Financiers (AMF).
                    Nous gérons environ 20 Millions d’Euros confiés par nos clients belges et étranger : des compagnies
                    d’assurance, des entreprises, des banques traditionnelles et digitales.</span></p>
                </p>
                <button class="btn-earn" onclick="readMore()">Read More</button>
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                <img src="../img/building.png" alt="landing-page" class="building-image">
            </div>
        </div>
    </div>
</section>

