<section class="bg-about" id="About">
        <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-12">
                <h2 class="fs-2 text-uppercase mb-3 pt-5"><b>A propos d’InvestiGo :</b></h2>
                <p class="fs-5 mb-3"><b>12 000 clients nous font confiance</b></p>
                <p class="fs-6 paragraph">Il s’agit d’une société d’investissement hollandaise. Elle a vu le jour en janvier 2020, le siège social se trouve en Hollande. InvestiGo s’engage activement pour le développement du marché local africain.</p> 

                    <p class="mb-3">En 2021, InvestiGo a obtenu un agrément pour créer une société de gestion de fonds d'investissement alternatifs en Belgique, sous la régie de l'Autorité des Marchés Financiers (AMF). La société gère environ 4 millions d’euros confiés par nos clients en Belgique et à l'étranger : y compris des particuliers et des sociétés.
                    </p>
                </p>
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center">
                <img src="../img/building.png" alt="landing-page" class="img-fluid building-image">
            </div>
        </div>
    </div>
</section>



