{{!-- Start of ThreeWords --}}

<section class="bg-chiffres py-5 text-white">
    <div class="container text-center" data-aos="fade-up">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 d-flex justify-content-center mb-3">
                <div class="content content-1">
                    <h4 class="card-title fs-3"> <img src="../img/chiffre_1" alt="person" class="img-fuild"> <b>Clients</b></h4>
                    <div class="counter">+12 000</div>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12 d-flex justify-content-center mb-3">
                <div class="content content-2">
                    <h5 class="card-title fs-3"><img src="../img/benefice.png" alt="money" class="img-fuild"> <b>Investis</b></h5>
                    <div class="counter">+4 000 000 €</div>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12 d-flex justify-content-center mb-3">
                <div class="content content-3">
                    <h5 class="card-title fs-3"><img src="../img/chiffre_2.png" alt="money" class="img-fuild"> <b>Bénéfices</b></h5>
                    <div class="counter">+1 000 000 €</div>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12 d-flex justify-content-center mb-3">
                <div class="content content-4">
                    <h5 class="card-title fs-3"><img src="../img/chiffre_3.png" alt="money" class="img-fuild"> <b>Année</b></h5>
                    <div class="counter">2021</div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- End of ThreeWords --}}