<section id="Collaborateur" class="collaborateur">
  <div class="container collab" data-aos="fade-up">
    <div class="row align-items-center">
    <h2 class="text-center pt-5"><b>Devenez Collaborateurs</b></h2>
      <div class="col-md-7 p-5">
        <p class="lead"><b>Devenez collaborateur sans engagement. Chez Investigo, Il suffit d’avoir de la motivation pour viser
les étoiles.</b></p>
        <ul class="list">
           <li>Voiture de société</li>
           <li>Une prime sur chaque contrat signé</li>
           <li>Une formation personnalisée</li>
           <li>Coach personnel</li>
           <li>Financement de vos projets allant jusqu’à 100.000€</li>
        </ul>
        <p>En bref,</p>
        <p>Investigo vous offre la possibilité de vous épanouir et de valoriser vos talents dans le monde des
affaires.</p>
<p>Votre mission consiste à offrir la meilleure expérience client possible et à rendre le parcours du client
simple en proposant des solutions accessibles et pratiques. Le client est toujours au cœur de toutes
vos actions !</p>
        <a href="https://outlook.office365.com/owa/calendar/RendezVousClient@NETORGFT10103042.onmicrosoft.com/bookings/" target="_blank"><button class="btn-red my-3">Candidature</button></a>
      </div>
      <div class="col-md-5 d-flex justify-content-center collaborateur-img">
          <img src="../img/collaborateur.png" alt="collaborateur-img" class="img-fluid">
      </div>
    </div>
  </div>
</section>