<section id="Collaborateur" class="collaborateur">
    <h2 class="text-center pt-5"><b>Devenez Collaborateurs</b></h2>
    <div class="container collab">
    <div class="row align-items-center">
      <div class="col-md-7">
        <p class="lead"><b>Les avantages de collaborateur / collaboratrice :</b></p>
        <ul class="list">
           <li>Une voiture de société (sous certaine condition)</li>
           <li>Une prime sur chaque contrat signé et en fonction du contrat</li>
           <li>Perspective d’une signature de Contrat à Durée Indéterminé (envisageable et même à court terme)</li>
           <li>Une formation personnalisée</li>
           <li>Mobilité horizontale (évolution de carrière, promotion…)</li>
           <li>Intervention dans des projets personnels. Par exemple, possibilité de financement d’un projet à titre personnel d’un montant allant de 2.500 euros à 100.000 euros voir plus (après validation du projet par le conseil d’administration)</li>
           <li>Cadre de travail dernière génération pour un bien-être garanti au travail</li>
           <li>Gsm de fonction avec abonnement</li>
           <li>Commodités, machines et matériel didactyle mis à disposition du personnel</li>
        </ul>
        <a href="https://outlook.office365.com/owa/calendar/RendezVousClient@NETORGFT10103042.onmicrosoft.com/bookings/" target="_blank"><button class="btn-red mt-3">Candidat</button></a>
      </div>
      <div class="col-md-5 d-flex justify-content-center collaborateur-img">
          <img src="../img/collaborateur.png" alt="collaborateur-img" class="img-fluid">
      </div>
    </div>
</section>