

<section class="bg-landingPage" id="Home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12">
                <h1 class="heading">Investissez dans les <span class="keyword">exploitations rentables</span> et partagez leur succès</h1>
                <p class="fs-5 py-3">Gagnez jusqu'à <span class="keyword">13%</span> par an en investissant sur un réseau P2P soutenu par une société financière fiable et très rentable.</p>
                <button class="btn-invest">Explore More</button>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="../img/landing-page.png" alt="landing-page" class="landing-page">
            </div>
        </div>
    </div>
</section>