

<section class="bg-landingPage" id="Home">
    <div class="container" data-aos="fade-up">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-12 landing_heading">
                <h1 class="heading">Votre fortune commence par <span class="keyword"> le bon investissement</span></h1>
                <p class="fs-5 py-3">Placez votre argent dans des projets réels, stables et générez <span class="keyword">jusqu’à 5% mensuel</span> de votre placement.</p>
            <a href="#Explore"><button class="btn-yellow">Explorer</button></a>         
        </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center">
                <img src="../img/landing.png" alt="landing-page" class="landing-image">
            </div>
        </div>
    </div>
</section>