

{{!-- Start of Pricing --}}
<section class="bg-pricing" id="Package" data-aos="fade-up">
        <h2 class="text-center pb-5"><b>Nos Produits</b></h2>
    <div class="container pricingContainer">
    <div class="row">
        <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="price-card">
                    <h5 class="card-title fs-2 mb-3"><b>Or</b></h5>
                    <h6 class="card-subtitle fs-3 mb-3">250€</h6>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>taux de 5% mensuel</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>achat une fois par an </p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>retrait après 1 an</p>
                </div>
        </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="price-card">
                    <h5 class="card-title fs-2 mb-3"><b>Platinum</b></h5>
                    <h6 class="card-subtitle fs-3 mb-3">500€</h6>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>taux de 4% mensuel</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>achat une fois par an </p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>retrait après 1 an</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>investissement dans 2 projets</p>
                   
                </div>
        </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="price-card shad">
                <span class="badge bg-danger w-50 rounded-pill mx-5 mb-2">Populaire</span>
                    <h5  class="card-title fs-2 mb-3"><b>Diamant</b></h5>
                    <h6 class="card-subtitle fs-3 mb-3">1000€</h6>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>taux de 3% mensuel</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>achat illimité</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>retrait après 6 mois</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>investissement dans 4 projets</p>
                    
                </div>
        </div>
            <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                <div class="price-card">
                    <h5 class="card-title fs-2 mb-3"><b>Ace</b></h5>
                    <h6 class="card-subtitle fs-3 mb-3">5000€ +</h6>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>taux de 3% mensuel</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>achat illimité</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>retrait après 6 mois</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>choix de projets illimité</p>
                    <p class="card-text"><span class="icon-check"><i class="fas fa-check-circle"></i></span>augmentation de taux sur le long terme</p>
                  
                </div>
        </div>
    </div>
    </div>
</section>

{{!-- End of Pricing --}}

