
<section class="bg-projects pt-5" id="Projects">
  <h2 class="text-center pb-5" id="Explore"><b>Nos Projets</b></h2>
  <div class="container">
    <ul>
      <li class="liste active" data-filter="all">Tout</li>  
      <li class="liste" data-filter="agriculture">Agriculture</li>  
      <li class="liste" data-filter="transport">Transport</li>  
      <li class="liste" data-filter="immobilier">Immobilier</li>  
      <li class="liste" data-filter="exploitation">Exploitation</li>  
      <li class="liste" data-filter="telecommunication">Télécommunication</li>  
      <li class="liste" data-filter="hotelier">Hotelier</li>  
    </ul>

<div class="product">
  <div class="itemBox hotelier">
      <div class="card mb-3">
        <img src="../img/hotel.png" class="img-fluid" alt="hotel">
        <div class="card-body">
          <p class="card-text">L’investissement dans hotelier</p>
          <!-- Button trigger modal 1 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_6">lire plus</button>
        </div>
      </div>
   </div>
   
   <div class="itemBox transport">
     <div class="card mb-3">
        <img src="../img/transport.png" class="img-fluid" alt="transport">
        <div class="card-body">
          <p class="card-text">L’investissement dans transport</p>
          <!-- Button trigger modal 2 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_2">lire plus</button>
        </div>
      </div>
   </div>
   <div class="itemBox immobilier">
      <div class="card mb-3">
        <img src="../img/immobilier.png" class="img-fluid" alt="immobilier">
        <div class="card-body">
          <p class="card-text">L’investissement dans immobilier</p>
          <!-- Button trigger modal 3 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_3">Lire plus</button>
        </div>
      </div>
   </div>
   <div class="itemBox exploitation">
      <div class="card mb-3">
        <img src="../img/extraction.png" class="img-fluid" alt="exploitation">
        <div class="card-body">
          <p class="card-text">L’investissement dans exploitation</p>
          <!-- Button trigger modal 4 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_4">Lire plus</button>
        </div>
      </div>
   </div>
   <div class="itemBox agriculture">
      <div class="card mb-3">
        <img src="../img/agriculture.png" class="img-fluid" alt="agriculture">
        <div class="card-body">
          {{!-- <h5 class="card-title">L’investissement agriculture</h5> --}}
          <p class="card-text">L’investissement dans l'agriculture</p>
          <!-- Button trigger modal 1 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_1">Lire Plus</button>
        </div>
      </div>
     </div>
   <div class="itemBox telecommunication">
      <div class="card mb-3">
        <img src="../img/network.png" class="img-fluid" alt="network">
        <div class="card-body">
          <p class="card-text">L’investissement dans télécommunication</p>
          <!-- Button trigger modal 5 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_5">lire plus</button>
        </div>
      </div>
   </div>
   
</div>

</div>
</section>
<!-- Modal 1 Agriculture-->


<div class="modal fade" id="myModal_1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/agriculture.png" class="img-fluid" alt="agriculture">
        <h2 class="mt-5"><strong>L’Investissement dans Agriculture</strong><hr></h2>
        <p class="mb-3">L’agroalimentaire est un investissement sûr qui a fait ses preuves grâce à une main d’œuvre vigoureuse, des terres fertiles et cultivables. Le continent africain est l’un des plus importants exportateurs de produits alimentaires mondiaux. Les terres s’étendent sur des milliers de kilomètres, correspondant à des opportunités de développements effectives. Le climat tropical favorise le développement de toutes les plantes, y compris les forêts. Les investissements dans l’agriculture africaine augmentent de jour en jour, ainsi InvestiGo est au premier plan pour permettre à ses investisseurs d’en profiter.</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">Fermé</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 Transport-->


<div class="modal fade" id="myModal_2" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/transport.png" class="img-fluid" alt="L’investissement transport">
        <h2 class="mt-5"><strong>L'investissement dans le transport</strong><hr></h2>
       <p class="mb-3">L’Afrique est le terrain favorable aux investissements, avec ses ressources naturelles abondantes et une main-d’œuvre jeune et qualifiée. Les chiffres relevés ces dernières années, notamment par la Banque Mondiale témoignent de la performance économique africaine. L’import-export constitue un domaine opulent. Le transport implique au premier abord de trouver un partenaire avec lequel organiser le transport des marchandises. Heureusement, le secteur est aujourd’hui plus ou moins libéralisé, c’est-à-dire qu’il y a moins de contraintes que dans le passé. Et le secteur a vu l’arrivée de plusieurs acteurs œuvrant dans le transport maritime ou aérien. InvestiGo privilégie l’acheminement de marchandises via le transport maritime pour le grand volume de marchandises transportables vers le monde entier.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal 3 Immobilier-->


<div class="modal fade" id="myModal_3" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">L’investissement dans immobilier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/immobilier.png" class="img-fluid d-flex mx-auto" alt="construction">
        <h2 class="mt-5"><strong>Immobilier</strong><hr></h2>
        <p class="mb-3">L’investissement dans le secteur immobilier est un moyen de générer un revenu complémentaire qui par la suite pourra se transformer en revenu principal et ainsi constituer un patrimoine. Selon un rapport de PricewaterhouseCoopers (PWC), publié en mars 2014, l’investissement immobilier africain va s'élargir considérablement, entraînant une forte expansion des villes et des opportunités, surtout l’émergence de nouvelles entreprises. Ces prévisions reflètent l'impact des tendances mondiales observées dans le rapport. Il y a un changement de paysage immobilier mondial considérable au cours des cinq dernières années, et l'Afrique ne fait pas exception. Ce qui est mise en évidence : </p>

        <ul class="list">
          <li>certaines villes deviendront de grands pôles de création de richesse </li>
          <li>des changements sans précédent dans la population entraîne une  augmentation dans la demande de biens immobiliers</li>
        </ul>

        <p class="mb-3">Investir dans l’immobilier est perçu comme un acte réservé intégralement aux plus fortunés. Peut-on vraiment investir dans ce domaine sans fonds?</p>

        <p class="mb-3">InvestiGo apporte la solution, en offrant à ses investisseurs la possibilité de placer leur argent dans l’immobilier en Afrique afin de répondre à la demande croissante et bénéficier des fruits de ces investissements.</p>

        <span class="mb-3">
          Tout comme :
        </span>

        <ul class="list">
          <li>investir peu et de gagner plus</li>
          <li>être capable d’investir sans avoir une fortune</li>
          <li>transformer ses revenus actifs en revenus passifs sur le long terme </li>
          <li>gagner en expérience et suivre des formations payées par InvestiGo</li>
          <li>avoir la liberté financière</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 4 Extraction-->


<div class="modal fade" id="myModal_4" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/extraction.png" class="img-fluid" alt="exploitation">
        <h2 class="mt-5"><strong>L’exploitation minière</strong><hr></h2>
        <p class="mb-3">La demande mondiale croissante fait de l’exploitation minière un investissement lucratif. L’Afrique a beaucoup de ressources minérales inexploitées, telles que le diamant, le platine, le chrome, le coltan, l’or, la bauxite, le cobalt, le fer et bien d’autres. Plusieurs de ces ressources minérales sont commercialisées à l’échelle mondiale. Grâce à InvestiGo vous avez la possibilité de réaliser un profit considérable. En effet, InvestiGo vous offre l’opportunité d’investir dans l’exploitation minière, dans les régions d’Afrique dotées des plus vastes ressources naturelles, comme le Congo et la Tanzanie.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal 5 Network -->


<div class="modal fade" id="myModal_5" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/network.png" class="img-fluid" alt="network">
        
        <h2 class="mt-5"><strong>L’investissement dans la télécommunication</strong><hr></h2>
        <p class="mb-3">	Le nombre d’usagers des télécommunications en Afrique à dépassé 
        400 millions au cours des dernières années. Les télécommunications jouent un rôle très important dans la croissance économique du continent, entraînant une explosion de la demande. Pour répondre à cette demande croissante, l’investissement estimé doit se situer autour de 15 milliards de dollars par an. Vous pouvez vous attendre à une croissance de 50 % en investissant dans les télécommunications rurales africaines et une plus grande croissance dans les zones urbaines. 
        </p>
        <p class="mb-3">Pour vous donner quelques chiffres, nous dirons que l’Afrique du Sud est le premier pays d’Afrique avec le plus d’investissements dans les télécommunications. Il a investi plus de 18 milliards de dollars ces trois dernières années, dans les télécommunications. En raison de ces énormes investissements, le secteur des télécommunications de l’Afrique du Sud est aussi performant que les leaders du marché mondial.</p>

        <p class="mb-3">InvestiGo privilégie principalement des pays dont la télécommunication est établie : le Nigéria et l’Afrique du Sud. Outre la qualité de leur réseau, à eux seuls, ils totalisent une population de 265 millions.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">Fermé</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 1 Hotel -->


<div class="modal fade" id="myModal_6" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <img src="../img/hotel.png" class="img-fluid" alt="project_6">
        <h2 class="mt-5"><strong>L’investissement dans l'hotelerie</strong><hr></h2>
       
        <p class="mb-3">L’investissement dans l’hôtellerie est un placement qui attire de plus en plus les particuliers en raison de sa fiabilité et du taux de rendement qu’il procure. L’hôtellerie est un secteur dynamique qui dispose de nombreux atouts. Un investisseur en quête d’une rentabilité plus élevée peut envisager l’investissement hôtelier en alternative à l’investissement locatif. Si l’investissement hôtelier a toujours été réservé aux institutionnels ou aux investisseurs fortunés, c’est aujourd’hui un investissement accessible aux particuliers. C’est pour cela qu’InvestiGo vous propose une solution à la clé. L’investissement hôtelier devient plus attractif aujourd’hui avec des tickets d’entrée plus abordables. C’est pourquoi Investi Go vient avec une solution à la clé pour les particuliers par la souscription de produits hôteliers avec des fonds ou des véhicules dédiés. Investi Go travaille sur de nombreux projets à travers l’Afrique. </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn-red" data-bs-dismiss="modal">fermé</button>
      </div>
    </div>
  </div>
</div>

