<section class="bg-question" id="Contact">
    <div class="container text-white">
            <div class="signup-form">
                <form action="/index" class="border p-4 shadow-lg msgForm" method="POST">
                    <h4 class="mb-4 pt-5 text-center fs-3"><b>Des Questions ?</b></h4>
                    <div class="row">
                        {{!-- <input type="text" name="userID"> --}}

                        <div class="mb-3 col-md-6 col-sm-12">
                            <label>Nom<span class="text-danger">*</span></label>
                            <input type="text" name="fullName" class="form-control" required>
                            <div class="invalid-feedback">
                                Please write your full name
                            </div>
                        </div>
                        
                        <div class="mb-3 col-md-6 col-sm-12">
                            <label>Mail<span class="text-danger">*</span></label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3 col-md-12 col-sm-12">
                            <label for="exampleFormControlTextarea1">Ecrivez votre message</label>
                            <textarea name="message" class="form-control" id="exampleFormControlTextarea1" required rows="5"></textarea>
                        </div>

                        <div class="col-md-12">
                            <button class="btn-yellow d-flex mx-auto my-3" type="submit" value="Message">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>