
<section class="py-5" id="Testimonials">
    <div class="container testimonials">
        <div class="row my-5">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="far fa-star star"></i></span>
                                                <h4>Elena</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                 <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="far fa-star star"></i></span>
                                                <h4>Jackline</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                 <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="far fa-star star"></i></span>
                                                <h4>Celine</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                 <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="far fa-star star"></i></span>
                                                <h4>Zendaya</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores, adipisci id ipsa praesentium itaque atque consequuntur eaque sed!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                 <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <h4>Surbhi</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores, adipisci id ipsa praesentium itaque atque consequuntur eaque sed!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-center">
                                        <div class="single-box">
                                            <div class="image-area"><img src="../img/janu.png" alt=""></div>
                                            <div class="image-text">
                                                 <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="fas fa-star star"></i></span>
                                                <span><i class="far fa-star star"></i></span>
                                                <h4>Catherine</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores, adipisci id ipsa praesentium itaque atque consequuntur eaque sed!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>