
{{!-- Start of ThreeWords --}}

<section class="bg-threeWord py-5 text-white" data-aos="fade-up">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card-body">
                    <img src="../img/dollar.png" class="img-fluid pb-3" alt="Dollar">
                    <h5 class="card-title fs-4">CHOISISSEZ</h5>
                    <p class="fs-6">Nous vous proposons une gamme <br> variée de produits</p>
                </div>
            </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card-body">
                    <img src="../img/card.png" class="img-fluid pb-3" alt="Dollar">
                    <h5 class="card-title fs-4">INVESTISSEZ</h5>
                    <p class="fs-6">Vous êtes libres d’investir <br> en toute sécurité dans l'avenir.</b></p>
                </div>
            </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card-body">
                    <img src="../img/billets.png" class="img-fluid pb-3" alt="Dollar">
                    <h5 class="card-title fs-4">MAXIMISEZ</h5>
                    <p class="fs-6">Multipliez votre placement <br> jusqu’à 60% par an.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- End of ThreeWords --}}


