



<!-- START THE FEATURETTES -->


<section class="threesteps" id="Step">
    <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-7 position-relative">
          <img src="../img/01.png" alt="step_1" class="steps">
        <h3 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h3>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
          <img src="../img/inscription.png" alt="invest-img" class="img-fuild mb-5 step-img">
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-md-7 order-md-2 position-relative">
           <img src="../img/02.png" alt="step_2" class="steps">
        <h3 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h3>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1 d-flex justify-content-center">
        <img src="../img/invest.png" alt="return-img" class=" img-fuild mb-5 step-img">
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-md-7 position-relative">
          <img src="../img/03.png" alt="step_3" class="steps">
        <h3 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h3>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
          <img src="../img/return.png" alt="return-img" class=" img-fuild mb-5 step-img">
      </div>
    </div>
</div>
</section>

<!-- /END THE FEATURETTES -->




