



<!-- START THE FEATURETTES -->


<section class="threesteps" id="Step">
      <h2 class="text-center mb-5"><b>Investissez librement dès aujourd’hui</b></h2>
    <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-7 position-relative">
          <img src="../img/01.png" alt="step_1" class="steps">
        <h3 class="featurette-heading">Créez votre compte</h3>
        <p class="lead">Une inscription rapide et simple, depuis chez vous</p>
        <a href="/register"><button class="btn-purple">S'inscrire</button></a>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
          <img src="../img/inscription.png" alt="invest-img" class="img-fuild mb-5 step-img">
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-md-7 order-md-2 position-relative">
           <img src="../img/02.png" alt="step_2" class="steps">
        <h3 class="featurette-heading">Placez votre argent</h3>
        <p class="lead">Rendez-vous dans nos bureaux pour finaliser votre investissement</p>
        <a href='https://outlook.office365.com/owa/calendar/RendezVousClient@NETORGFT10103042.onmicrosoft.com/bookings/' target="_blank"><button class="btn-yellow">Planifiez en ligne</button></a>
      </div>
      <div class="col-md-5 order-md-1 d-flex justify-content-center">
        <img src="../img/invest.png" alt="return-img" class=" img-fuild mb-5 step-img">
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-md-7 position-relative">
          <img src="../img/03.png" alt="step_3" class="steps">
        <h3 class="featurette-heading">Multipliez votre placement</h3>
        <p class="lead">Votre placement grandit aussi longtemps que vous le désirez</p>
        <a href="https://outlook.office365.com/owa/calendar/RendezVousClient@NETORGFT10103042.onmicrosoft.com/bookings/" target="_blank"><button class="btn-red">Contactez-nous</button></a>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
          <img src="../img/return.png" alt="return-img" class=" img-fuild mb-5 step-img">
      </div>
    </div>
</div>
</section>

<!-- /END THE FEATURETTES -->




