@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #EDDE5D;
}


/* Preloader */

/* Scroll-Bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#8627fb, #3430FF);
  border-radius: 5px;

}

/* ::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#EDDE5D, #A760FF, #DD2476);
} */

/* Navbar */

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
}

li {
  transition: 0.5s;
  /* margin: 0px 20px; */
  font-size: 20px;
  list-style: none;

}

.bg-dark {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding: 14px 25px;
}



li.nav-item .active {
  background-image: linear-gradient(#A760FF, #3430FF);
  border-radius: 10px;
} 


/* Logo */

.logo {
  height: 50px;
  padding-right: 5px;
}

/* Landing Page */

.bg-landingPage {
  background-image: url("../img/Hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





#more {
  display: none;
}

.heading {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 900;
}


.keyword {
  color: #4F3BFF;
  font-weight: 900;
}


.btn-grad {
  background-image: linear-gradient(#A760FF, #3430FF);
  padding: 14px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 900;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.background-img {
  background-image: url("../img/register-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.register-img {
  height: 50vh;
}


/* About */

.bg-about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.about-text {
  font-size: 20px;
  padding: 10px 0px;
}

/* Three Words */

.bg-threeWord {
  background-color: #1F2E35;
}

/* Tree Steps */

.threesteps {
  background-image: url("../img/Frame.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Start of Three Steps */



/* Step 01 */

a {
  text-decoration: none;
}

.btn-red {
  padding: 15px 25px;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: block;
}

.btn-red:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Step 02 */


.btn-yellow {
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: block;
}

.btn-yellow:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Step 03 */


.btn-purple {
  padding: 15px 25px;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  text-decoration: none;
}

.btn-purple:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.steps {
  position: absolute;
  top: -108px;
  left: -20px;
}



/* Pricing */

.bg-pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #fdfdfd;
    padding-bottom: 25px;
}

.shad {
  box-shadow: -2px -2px 34px rgb(177 177 179 / 30%);
  border-radius: 26px;
}



.price-card {
  border-radius: 26px;
  transition: transform 450ms;
  padding: 25px;
  width: 280px;
  height: 450px;
}



 .price-card:hover {
  background: linear-gradient(#A760FF, #3430FF);
  transform: scale(1.08);
  color: white;
}

.pack1 , .pack2 {
  margin-top: 73px;
}

.icon-check {
  padding-right: 5px;
}

.btn-price {
  padding: 10px 90px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 24px;
  display: block;
  border: none;
}

.btn-price:hover {
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.content {
  height: 200px;
  width: 269px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
  border: white 3px solid;
  border-radius: 20px;
  border-color: linear-gradient(143.8deg, #A760FF 5.59%, #3430FF 77.97%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-1 {
  border: 3px solid #A760FF;
}

.content-2 {
  border: 3px solid #FFF264;
}

.content-3 {
  border: 3px solid #3ff028;
}
.content-4 {
  border: 3px solid #D800B9;
}



/* Chiffres */

.bg-chiffres{
  background-image: url("../img/bg-chiffres.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  height: auto;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
/* Projects */

.bg-projects {
  min-height: 100vh;
}
.container ul .list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.container ul .liste {
  display: inline-block;
  background-color: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.container ul .liste.active {
  color: white;
  background-image: linear-gradient(#A760FF, #3430FF);
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.product .itemBox {
  width: 300px;
  height: auto;
  margin: 0 15px;
}

.itemBox .card img {
  height: 225px;
}

.btn-projects {

    background-image: linear-gradient(#A760FF, #3430FF);
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    border: none;
} 

.card:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  transition: all .5s;
}


/* Modal */



/* Collaborateur */

.collaborateur {
  background-image: url("../img/bg-collaborateur.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.collab {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}






/* Message */

.bg-question {
  background-image: url("../img/register-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.signup-form {
  display: flex;
  justify-content: center;
}

.msgForm {
  border-radius: 20px;
  color: black;
  max-width: 600px;
}

.backToHomePage {
  background-image: linear-gradient(#A760FF, #3430FF);
  padding: 20px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
}

.bg-footer {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social-media {
  cursor: pointer;
}

.facebook {
  background: linear-gradient(143.8deg, #A760FF 5.59%, #3430FF 77.97%);
  border-radius: 50%;
}

.instagram {
  background: radial-gradient(86.6% 86.6% at 43.86% 0%, #FF5555 0%, #D800B9 100%);
  border-radius: 50%;
}

.snapchat {
  background: linear-gradient(180deg, #FFF264 0%, #FFB334 100%);
  border-radius: 50%;
}



/* Emploi  */

.bg-condition ,.bg-emploi {
  min-height: 100vh;
  padding-top: 100px;
}

.condition-heading , .emploi-heading{
  padding: 30px 0px;
  text-align: center;
  color: #000;
}

.list li {
  font-size: 0.9rem;
  list-style: disc;
}




/* RESPONSIVITY */



/* Desktop */

/* @media screen and (min-width: 900px) {


}
 */



/* Tablette */

@media screen and (max-width: 768px) {

.landing-image {
    height: 400px;
    max-width: 100%;
    margin-top: 50px;
}

.landing_heading {
    padding-top: 110px;
}

  .heading {
      font-size: 1.4rem;
  }


.building-image {
    margin-top: 20px;
    width: 300px;
}

.price-card {
  height: 350px;
}

.btn-earn {
    display: block;
    margin: 0 auto;
  }

.bg-threeWord {
  margin-bottom: 40px;
}

.step-img {
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
    height: 300px;
  }

.card-img-top {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.collaborateur-img img {
  height: 300px; 
}


.product {
  padding-top: 50px;
}

.collaborateur {
  background-image: none;
}

.collab {
  border-radius: 0px;
  background: #ffffff;
  padding: 30px 20px;
  box-shadow: none;
}

.adress {
  text-align: left;
  padding-bottom: 20px;
}

}

